@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,400&display=swap');

body, form fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Merriweather', serif;
}
body{
  background-image: url('bookshelf.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#container, .button_container{
  display: flex;
}
#container div, button{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container div button{
  display: none;
}
#container div:hover button{
  display: block;
}

.book_cover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #90ee90;
  
}

.book_cover h6{
  font-size: 1.75em;
}

.book_cover p{
  font-size: 1.25em;
}

.remove_button{
  padding: 0.1rem;
}

form fieldset, button{
  background-image: url('wood.jpeg');
  border: none;
  box-shadow: 10px 5px 5px brown;
  border-radius: 15px;
}

button{
  padding: 15px;
  margin: 5px;
  font-family: 'Merriweather', serif;
}
